In [2]:
import requests
url = 'http://mops.twse.com.tw/nas/t21/sii/t21sc03_108_2_0.html'
r = requests.get(url)

In [3]:
from io import StringIO
import pandas as pd
r.encoding = 'big5'

In [4]:
dfs = pd.read_html(StringIO(r.text))

In [5]:
dfs[0]

,0,1,2,3,4,5,6,7,8,9,...,10223,10224,10225,10226,10227,10228,10229,10230,10231,10232
0,產業別：水泥工業單位：千元 營業收入累計營業收入備註公司代號公司名稱當月營收上月營收去年當月...,產業別：水泥工業,單位：千元,營業收入累計營業收入備註公司代號公司名稱當月營收上月營收去年當月營收上月比較增減(%)去年同...,NaN,營業收入,累計營業收入,備註,公司代號,公司名稱,...,合計,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1,產業別：水泥工業,單位：千元,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,營業收入累計營業收入備註公司代號公司名稱當月營收上月營收去年當月營收上月比較增減(%)去年同...,NaN,營業收入,累計營業收入,備註,公司代號,公司名稱,當月營收,上月營收,去年當月營收,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,營業收入,累計營業收入,備註,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,公司代號,公司名稱,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1101,台泥,5085162,9394240,4811678,-45.86,5.68,14479402,14429071,0.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1102,亞泥,3165899,7905737,3408539,-59.95,-7.11,11071636,10178525,8.77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1103,嘉泥,108448,177060,125590,-38.75,-13.64,285508,297684,-4.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1104,環球水泥,270638,479518,268120,-43.56,0.93,750157,728601,2.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1108,幸福水泥,168065,353189,197481,-52.41,-14.89,521254,517821,0.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1109,信大水泥,149960,668892,182926,-77.58,-18.02,818852,658381,24.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1110,東泥,82927,186293,97264,-55.48,-14.74,269220,250572,7.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,合計,9031099,19164929,9091598,-52.87,-0.66,28196029,27060655,4.19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,產業別：食品工業,單位：千元,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,營業收入累計營業收入備註公司代號公司名稱當月營收上月營收去年當月營收上月比較增減(%)去年同...,NaN,營業收入,累計營業收入,備註,公司代號,公司名稱,當月營收,上月營收,去年當月營收,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,營業收入,累計營業收入,備註,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,公司代號,公司名稱,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1201,味全公司,1358770,1583493,1220516,-14.19,11.32,2942263,2521787,16.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1203,味王公司,443171,544108,452100,-18.55,-1.97,987278,949760,3.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1210,大成長城,4971488,7176513,5485976,-30.72,-9.37,12148001,12139389,0.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1213,大飲,39925,63426,42414,-37.05,-5.86,103351,114193,-9.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1215,卜蜂企業,1463626,1985612,1477686,-26.28,-0.95,3449238,3245606,6.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1216,統一,29826477,41144409,30250749,-27.50,-1.40,70970886,68412717,3.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1217,愛之味,303197,379511,290269,-20.10,4.45,682708,664003,2.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1218,泰山企業,467918,706484,524076,-33.76,-10.71,1174402,1211801,-3.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1219,福壽實業,715431,1199814,808692,-40.37,-11.53,1915246,1817218,5.39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1220,台榮,143511,261737,129527,-45.16,10.79,405248,369538,9.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1225,福懋油,633413,964100,788933,-34.30,-19.71,1597513,1820183,-12.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1227,佳格,1388035,4362134,1996808,-68.17,-30.48,5750169,5976890,-3.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1229,聯華實業,314549,493179,331407,-36.22,-5.08,807728,775448,4.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,9907,統一實業,1853053,2975763,1984366,-37.72,-6.61,4828816,5300861,-8.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
976,9910,豐泰企業,4637221,6236541,3853566,-25.64,20.33,10873762,9158847,18.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977,9911,台灣櫻花,346289,608277,429652,-43.07,-19.40,954566,992191,-3.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
978,9914,美利達,1730609,2015678,1557966,-14.14,11.08,3746287,3440804,8.87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
979,9917,中保,1050629,1148895,1069022,-8.55,-1.72,2199524,2179057,0.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
980,9919,康那香,260650,419145,235850,-37.81,10.51,679795,586487,15.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,9921,巨大機械,4041264,4823947,3932969,-16.22,2.75,8865211,8377853,5.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,9924,台灣福興,415748,838120,487496,-50.39,-14.71,1253868,1273753,-1.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983,9925,新光保全,584586,586353,565618,-0.30,3.35,1170939,1146543,2.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,9927,泰銘,603560,786007,678521,-23.21,-11.04,1389567,1617301,-14.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,9928,中視,39664,65519,61508,-39.46,-35.51,105183,117352,-10.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
986,9929,秋雨,89498,112750,57719,-20.62,55.05,202248,122023,65.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987,9930,中聯資源,592171,1021051,583808,-42.00,1.43,1613222,1314213,22.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,9933,中鼎工程,5217052,3104253,4357782,68.06,19.71,8321305,9026663,-7.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,9934,成霖企業,1162841,1651763,1151632,-29.60,0.97,2814604,2909557,-3.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990,9935,慶豐富,248102,464705,195738,-46.61,26.75,712807,470040,51.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,9938,台灣百和,1338991,1264493,648029,5.89,106.62,2603484,1625588,60.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
992,9939,宏全,1358452,1638823,1385724,-17.10,-1.96,2997275,2856507,4.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,9940,信義房屋,734577,1000806,528591,-26.60,38.96,1735383,1328441,30.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,9941,裕融企業,1911024,2155516,1701304,-11.34,12.32,4066540,3565915,14.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,9942,茂順,190988,264835,197380,-27.88,-3.23,455823,494277,-7.77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,9944,新麗企業,191180,302064,198954,-36.70,-3.90,493244,506766,-2.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,9945,潤泰創新,850381,1393238,720404,-38.96,18.04,2243619,1697921,32.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,9955,佳龍,114414,179670,163645,-36.31,-30.08,294084,286578,2.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,合計,56814558,72988200,53595886,-22.15,6.00,129840155,117832911,10.19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,產業別：存託憑證,單位：千元,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,營業收入累計營業收入備註公司代號公司名稱當月營收上月營收去年當月營收上月比較增減(%)去年同...,NaN,營業收入,累計營業收入,備註,公司代號,公司名稱,當月營收,上月營收,去年當月營收,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,NaN,營業收入,累計營業收入,備註,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,公司代號,公司名稱,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,合計,0,0,0,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = dfs[0]
df=df[list(range(0,10))]

df.columns = df[df[0] == '公司代號'].iloc[0]
df

4,公司代號,公司名稱,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
0,產業別：水泥工業單位：千元 營業收入累計營業收入備註公司代號公司名稱當月營收上月營收去年當月...,產業別：水泥工業,單位：千元,營業收入累計營業收入備註公司代號公司名稱當月營收上月營收去年當月營收上月比較增減(%)去年同...,NaN,營業收入,累計營業收入,備註,公司代號,公司名稱
1,產業別：水泥工業,單位：千元,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,營業收入累計營業收入備註公司代號公司名稱當月營收上月營收去年當月營收上月比較增減(%)去年同...,NaN,營業收入,累計營業收入,備註,公司代號,公司名稱,當月營收,上月營收,去年當月營收
3,NaN,營業收入,累計營業收入,備註,NaN,NaN,NaN,NaN,NaN,NaN
4,公司代號,公司名稱,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
5,1101,台泥,5085162,9394240,4811678,-45.86,5.68,14479402,14429071,0.34
6,1102,亞泥,3165899,7905737,3408539,-59.95,-7.11,11071636,10178525,8.77
7,1103,嘉泥,108448,177060,125590,-38.75,-13.64,285508,297684,-4.09
8,1104,環球水泥,270638,479518,268120,-43.56,0.93,750157,728601,2.95
9,1108,幸福水泥,168065,353189,197481,-52.41,-14.89,521254,517821,0.66
10,1109,信大水泥,149960,668892,182926,-77.58,-18.02,818852,658381,24.37
11,1110,東泥,82927,186293,97264,-55.48,-14.74,269220,250572,7.44
12,合計,9031099,19164929,9091598,-52.87,-0.66,28196029,27060655,4.19,NaN
13,產業別：食品工業,單位：千元,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,營業收入累計營業收入備註公司代號公司名稱當月營收上月營收去年當月營收上月比較增減(%)去年同...,NaN,營業收入,累計營業收入,備註,公司代號,公司名稱,當月營收,上月營收,去年當月營收
15,NaN,營業收入,累計營業收入,備註,NaN,NaN,NaN,NaN,NaN,NaN
16,公司代號,公司名稱,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
17,1201,味全公司,1358770,1583493,1220516,-14.19,11.32,2942263,2521787,16.67
18,1203,味王公司,443171,544108,452100,-18.55,-1.97,987278,949760,3.95
19,1210,大成長城,4971488,7176513,5485976,-30.72,-9.37,12148001,12139389,0.07
20,1213,大飲,39925,63426,42414,-37.05,-5.86,103351,114193,-9.49
21,1215,卜蜂企業,1463626,1985612,1477686,-26.28,-0.95,3449238,3245606,6.27
22,1216,統一,29826477,41144409,30250749,-27.50,-1.40,70970886,68412717,3.73
23,1217,愛之味,303197,379511,290269,-20.10,4.45,682708,664003,2.81
24,1218,泰山企業,467918,706484,524076,-33.76,-10.71,1174402,1211801,-3.08
25,1219,福壽實業,715431,1199814,808692,-40.37,-11.53,1915246,1817218,5.39
26,1220,台榮,143511,261737,129527,-45.16,10.79,405248,369538,9.66
27,1225,福懋油,633413,964100,788933,-34.30,-19.71,1597513,1820183,-12.23
28,1227,佳格,1388035,4362134,1996808,-68.17,-30.48,5750169,5976890,-3.79
29,1229,聯華實業,314549,493179,331407,-36.22,-5.08,807728,775448,4.16
...,...,...,...,...,...,...,...,...,...,...
975,9907,統一實業,1853053,2975763,1984366,-37.72,-6.61,4828816,5300861,-8.90
976,9910,豐泰企業,4637221,6236541,3853566,-25.64,20.33,10873762,9158847,18.72
977,9911,台灣櫻花,346289,608277,429652,-43.07,-19.40,954566,992191,-3.79
978,9914,美利達,1730609,2015678,1557966,-14.14,11.08,3746287,3440804,8.87
979,9917,中保,1050629,1148895,1069022,-8.55,-1.72,2199524,2179057,0.93
980,9919,康那香,260650,419145,235850,-37.81,10.51,679795,586487,15.90
981,9921,巨大機械,4041264,4823947,3932969,-16.22,2.75,8865211,8377853,5.81
982,9924,台灣福興,415748,838120,487496,-50.39,-14.71,1253868,1273753,-1.56
983,9925,新光保全,584586,586353,565618,-0.30,3.35,1170939,1146543,2.12
984,9927,泰銘,603560,786007,678521,-23.21,-11.04,1389567,1617301,-14.08
985,9928,中視,39664,65519,61508,-39.46,-35.51,105183,117352,-10.36
986,9929,秋雨,89498,112750,57719,-20.62,55.05,202248,122023,65.74
987,9930,中聯資源,592171,1021051,583808,-42.00,1.43,1613222,1314213,22.75
988,9933,中鼎工程,5217052,3104253,4357782,68.06,19.71,8321305,9026663,-7.81
989,9934,成霖企業,1162841,1651763,1151632,-29.60,0.97,2814604,2909557,-3.26
990,9935,慶豐富,248102,464705,195738,-46.61,26.75,712807,470040,51.64
991,9938,台灣百和,1338991,1264493,648029,5.89,106.62,2603484,1625588,60.15
992,9939,宏全,1358452,1638823,1385724,-17.10,-1.96,2997275,2856507,4.92
993,9940,信義房屋,734577,1000806,528591,-26.60,38.96,1735383,1328441,30.63
994,9941,裕融企業,1911024,2155516,1701304,-11.34,12.32,4066540,3565915,14.03
995,9942,茂順,190988,264835,197380,-27.88,-3.23,455823,494277,-7.77
996,9944,新麗企業,191180,302064,198954,-36.70,-3.90,493244,506766,-2.66
997,9945,潤泰創新,850381,1393238,720404,-38.96,18.04,2243619,1697921,32.13
998,9955,佳龍,114414,179670,163645,-36.31,-30.08,294084,286578,2.61
999,合計,56814558,72988200,53595886,-22.15,6.00,129840155,117832911,10.19,NaN
1000,產業別：存託憑證,單位：千元,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,營業收入累計營業收入備註公司代號公司名稱當月營收上月營收去年當月營收上月比較增減(%)去年同...,NaN,營業收入,累計營業收入,備註,公司代號,公司名稱,當月營收,上月營收,去年當月營收
1002,NaN,營業收入,累計營業收入,備註,NaN,NaN,NaN,NaN,NaN,NaN
1003,公司代號,公司名稱,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
1004,合計,0,0,0,NaN,NaN,0,0,NaN,NaN

In [7]:
df = df[-pd.to_numeric(df['當月營收'],errors = 'coerce').isnull()]

In [73]:
df.head()

,4,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
公司代號,公司名稱,,,,,,,,
1101,台泥,5085162,9394240,4811678,-45.86,5.68,14479402,14429071,0.34
1102,亞泥,3165899,7905737,3408539,-59.95,-7.11,11071636,10178525,8.77
1103,嘉泥,108448,177060,125590,-38.75,-13.64,285508,297684,-4.09
1104,環球水泥,270638,479518,268120,-43.56,0.93,750157,728601,2.95
1108,幸福水泥,168065,353189,197481,-52.41,-14.89,521254,517821,0.66

In [9]:
import numpy as np
a = np.where(pd.to_numeric(df['公司代號'],errors = 'coerce').isnull()==True)
a

(array([  7,  29,  50,  96, 149, 163, 194, 220, 226, 234, 264, 276, 282,
        353, 412, 480, 519, 611, 632, 645, 681, 690, 739, 762, 779, 815,
        831, 886, 887], dtype=int64),)

In [10]:
a = np.where(df['公司代號']=='合計')
a

(array([  7,  29,  50,  96, 149, 163, 194, 220, 226, 234, 264, 276, 282,
        353, 412, 480, 519, 611, 632, 645, 681, 690, 739, 762, 779, 815,
        831, 886, 887], dtype=int64),)

In [11]:
df = df[-pd.to_numeric(df['公司代號'],errors = 'coerce').isnull()]

In [72]:
df.head()

,4,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
公司代號,公司名稱,,,,,,,,
1101,台泥,5085162,9394240,4811678,-45.86,5.68,14479402,14429071,0.34
1102,亞泥,3165899,7905737,3408539,-59.95,-7.11,11071636,10178525,8.77
1103,嘉泥,108448,177060,125590,-38.75,-13.64,285508,297684,-4.09
1104,環球水泥,270638,479518,268120,-43.56,0.93,750157,728601,2.95
1108,幸福水泥,168065,353189,197481,-52.41,-14.89,521254,517821,0.66

In [13]:
df = df.set_index(['公司代號','公司名稱'])

In [70]:
df = df.apply(pd.to_numeric)
df.head()

,4,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
公司代號,公司名稱,,,,,,,,
1101,台泥,5085162,9394240,4811678,-45.86,5.68,14479402,14429071,0.34
1102,亞泥,3165899,7905737,3408539,-59.95,-7.11,11071636,10178525,8.77
1103,嘉泥,108448,177060,125590,-38.75,-13.64,285508,297684,-4.09
1104,環球水泥,270638,479518,268120,-43.56,0.93,750157,728601,2.95
1108,幸福水泥,168065,353189,197481,-52.41,-14.89,521254,517821,0.66

In [55]:
top5m_s = df.sort_values(by=['當月營收'], ascending=False)
top5m_s = top5m_s.head()
top5m_s



#top5m_s.plot.bar(y = '當月營收')#,fontproperties=myfont

,4,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
公司代號,公司名稱,,,,,,,,
2317,鴻海,265632525,414095017,277815099,-35.85,-4.38,679727542,678421883,0.19
4938,和碩,81645017,122634116,76834329,-33.42,6.26,204279133,197897477,3.22
2382,廣達,62862271,84925212,64293676,-25.97,-2.22,147787483,149078034,-0.86
2330,台積電,60889055,78093827,64640562,-22.03,-5.80,138982882,144381234,-3.73
3231,緯創,56850489,75735545,67361724,-24.93,-15.60,132586034,146762964,-9.65

In [29]:
top5pre_compare = df.sort_values(by=['上月比較增減(%)'], ascending=False)
top5pre_compare = top5pre_compare.head()
top5pre_compare

,4,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
公司代號,公司名稱,,,,,,,,
2505,國揚實業,58009,681,429,8418.20,13421.91,58690,52071,12.71
6177,達麗,58510,4651,66505,1158.00,-12.02,63161,101975,-38.06
3056,總太地產,19689,5025,416419,291.82,-95.27,24714,864619,-97.14
5706,鳳凰旅遊,275944,91199,275699,202.57,0.08,367143,346047,6.09
6131,悠克國際,3111,1143,-6995,172.17,144.47,4254,-50527,108.41

In [57]:
top5prem_s = df.sort_values(by=['去年當月營收'], ascending=False)
top5prem_s = top5prem_s.head()
top5prem_s

,4,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
公司代號,公司名稱,,,,,,,,
2317,鴻海,265632525,414095017,277815099,-35.85,-4.38,679727542,678421883,0.19
4938,和碩,81645017,122634116,76834329,-33.42,6.26,204279133,197897477,3.22
3231,緯創,56850489,75735545,67361724,-24.93,-15.60,132586034,146762964,-9.65
2330,台積電,60889055,78093827,64640562,-22.03,-5.80,138982882,144381234,-3.73
2382,廣達,62862271,84925212,64293676,-25.97,-2.22,147787483,149078034,-0.86

In [58]:
top5pre_compare = df.sort_values(by=['前期比較增減(%)'], ascending=False)
top5pre_compare = top5pre_compare.head()
top5pre_compare

,4,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
公司代號,公司名稱,,,,,,,,
2527,宏璟,191053,230956,11082,-17.27,1623.99,422009,23215,1717.82
9946,三發地產,450156,748197,20647,-39.83,2080.24,1198353,182968,554.95
5534,長虹,998054,1052650,124136,-5.18,704.00,2050704,354958,477.73
4994,傳奇,292548,295873,66544,-1.12,339.63,588421,119260,393.39
6225,天瀚,633,1249,263,-49.31,140.68,1882,492,282.52